 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/workshop-1024x576.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 311px 58px 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 48px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 42px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 37px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 674px;
}

.u-section-2 .u-text-1 {
  margin: 9px 0 0;
}

.u-section-2 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -67px auto 0;
}

.u-section-2 .u-image-1 {
  width: 623px;
  height: 438px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 9px 0 14px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 541px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 375px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 23px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 23px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 23px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 541px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1260px;
  margin: 59px auto 60px -120px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -159px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 190px auto 0;
}

.u-section-4 .u-image-1 {
  min-height: 432px;
  background-image: url("images/872bda4e4b9fab774cc4447851f29e3f.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-4 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 272px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 408px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 257px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 542px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1260px;
  margin: 60px auto 60px -120px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-5 .u-container-layout-1 {
  padding: 24px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 1px;
}

.u-section-5 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -198px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 234px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 432px;
  background-image: url("images/Untitled-683--1024px-1024--683px-2023-07-12T154605.688.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 247px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 371px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 234px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 542px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1260px;
  margin: 60px auto 60px -120px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-6 .u-container-layout-1 {
  padding: 24px 60px;
}

.u-section-6 .u-text-1 {
  margin: 6px 1px 0;
}

.u-section-6 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -106px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 137px auto 0;
}

.u-section-6 .u-image-1 {
  min-height: 432px;
  background-image: url("images/Competition_Model_NGV_Candalepus_Associates_13.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 247px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 371px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 234px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 542px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1260px;
  margin: 60px auto 60px -120px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-7 .u-container-layout-1 {
  padding: 24px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0 1px;
}

.u-section-7 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -92px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin: 128px auto 0;
}

.u-section-7 .u-image-1 {
  min-height: 432px;
  background-image: url("images/640px-Tesla_auto_bots.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 247px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 371px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    min-height: 234px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 542px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1260px;
  margin: 60px auto 60px -120px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-8 .u-container-layout-1 {
  padding: 24px 60px;
}

.u-section-8 .u-text-1 {
  margin: 6px 1px 0;
}

.u-section-8 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -159px auto 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  margin: 190px auto 0;
}

.u-section-8 .u-image-1 {
  min-height: 432px;
  background-image: url("images/iphone_tout_a.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 247px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 371px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    min-height: 234px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 542px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1260px;
  margin: 60px auto 60px -120px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-9 .u-container-layout-1 {
  padding: 24px 60px;
}

.u-section-9 .u-text-1 {
  margin: 6px 1px 0;
}

.u-section-9 .u-line-1 {
  width: 249px;
  transform-origin: right center 0px;
  margin: -106px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  margin: 137px auto 0;
}

.u-section-9 .u-image-1 {
  min-height: 432px;
  background-image: url("images/Design-Classic.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-1 {
    min-height: 247px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 371px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    min-height: 234px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 515px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 20px auto 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 28px auto 60px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-2 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 416px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 20px auto 60px;
  padding: 6px 24px 7px 23px;
}